.content{
    margin-left: 100px;
    background-image: url('C:\Users\Deepak\Desktop\phpmyadmin\Ecommerce\Frontand\micro-com\src\images\OURTTT.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color:antiquewhite
}
