 /* body{
    font-family: 'Roboto',sans-serif;
}
*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position:fixed;
    left:0;
    width:250;
    height:100%;
    background:#042331;
}
.sidebar header{
    font-size: 22px;
    color:white;
    text-align: center;
    line-height:70px;
    background:#063146;
    user-select:none;
}
.sidebar ul a{
    display: block;
    height:100%;
    width:100%;
    line-height: 65px;
    font-size:20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition:.4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right:16px;
}
nav{
    background:#042331;
    height:110px;
    width:100%;
} */

/* #menu-toggle{
    opacity:0;
}
#menu-toggle:checked + .menu-btn */
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
       transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after{
    top:0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box{
    left:0 !important;
}
.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn >span,
.menu__btn >span::before,
.menu__btn >span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before{
    content: '';
    top: -8px;
}
.menu__btn > span ::after{
          content: '';
          top:8px;
}
.menu__box{
    display:block;
    position:fixed;
    top:0;
    left: -100%;
    width:300px;
    height:100%;
    margin:0;
    padding:80px 0;
    list-style:none;
    background-color: hwb(0 0% 100%);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item{
    display:block;
    padding:12px 24px;
    color:white;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover{
    background-color: blue;
}
lable.logo{
    color:hwb(0 0% 100%);
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
   
}
nav ul{
    float: right;
    margin-right:20px;
  
}
nav ul li{
    display:inline-block;
    line-height:80px;
    margin:0 5px;
 ;
}
nav ul li a{
    color:rgb(226, 52, 52);
    font-size: 17px;
    text-transform:uppercase;
   
}

